.option-sel.three {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 20px;
    text-align: left !important;
    float: left;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding:10px 0;
    max-height: 60px;
	& a.close{
		position: relative;
    	left: 90%;
    	bottom: 35px;
    	& span{
    		color: #EE1100;
    	}
	}
    & span{
    	color:#444444;
    	font-size: 14px;
    	font-weight: 600;
    	line-height: 100%;
    }
    & p{
    	color: #666666;
	    font-size: 13px;
	    font-weight: 500;
	    line-height: 130%;
	    margin-bottom: 0;
	    margin-top: 0;
    }
}