/*botones finales*/

.botonNew {
  margin: 20px;
  border-radius: 30px;
  padding: 12px 40px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  text-decoration:none;
  //text-transform:uppercase;
  transition: All .3s ease;
  -webkit-transition: All .3s ease;
  -moz-transition: All .3s ease;
  -o-transition: All .3s ease;
}
.icon-arrow-right{
  font-size: 14px;
  display: inline-block;
}

.botonNewSmall {
  padding: 8px 20px;
  font-size: 13px;
}

.iconoIzquierda {
  font-size: 20px;
  vertical-align: text-top;
  margin-right: 10px;
}

.iconoIzquierdaVolver {
  font-size: 11px;
  margin-right: 10px;
  vertical-align: initial;
}

.iconoDerecha {
  font-size: 11px;
  margin-left: 10px;
  vertical-align: initial;
}

.botonPrimario {
  color:$white;
  background-color: $color_brand;
  &:hover {
    background-color: #990000;
    text-decoration:none;
    color:$white;
  }
}

.botonSecundario {
  color: $color_brand;
  background-color:$white;
}

.botonInactivo {
  color:$white;
  background-color: #C2C2C2;
}
.botonInactivo:hover{
   color:$white;
  background-color: #C2C2C2;
}

.botonAccionTexto {
  color: #808080;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 13px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #808080;
    transition: All .3s ease;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease;
  }
  &:hover:before {
    width: calc(100% - 80px);
  }
}

.botonAccionTextoSmall {
  &:before {
    bottom: 8px;
  }
  &:hover:before {
    width: calc(100% - 40px);
  }
}

.botonTextoLink {
  color: $color_brand;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  text-align: center;
  margin: 20px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: $color_brand;
    transition: All .3s ease;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease;
  }
  &:hover:before {
    width: 100%;
  }
}

.bordePrincipal {
  -moz-box-shadow: inset 0px 0px 0px 1px #dddddd;
  -webkit-box-shadow: inset 0px 0px 0px 1px #dddddd;
  box-shadow: inset 0px 0px 0px 1px #dddddd;
  &:hover {
    -moz-box-shadow: inset 0px 0px 0px 1px $color_brand;
    -webkit-box-shadow: inset 0px 0px 0px 1px $color_brand;
    box-shadow: inset 0px 0px 0px 1px $color_brand;
  }
}

.bordeSecundario {
  -moz-box-shadow: inset 0px 0px 0px 2px $color_brand;
  -webkit-box-shadow: inset 0px 0px 0px 2px $color_brand;
  box-shadow: inset 0px 0px 0px 2px $color_brand;
  &:hover {
    background-color: $color_brand;
    color:$white;
  }
}

/*fin botones finales*/
