/*iconos*/
@font-face {
	font-family:'iconos-santander';
	src:  url('../fonts/iconos-santander.eot?e8ru82');
	src:  url('../fonts/iconos-santander.eot?e8ru82#iefix') format('embedded-opentype'),
		url('../fonts/iconos-santander.ttf?e8ru82') format('truetype'),
		url('../fonts/iconos-santander.woff?e8ru82') format('woff'),
		url('../fonts/iconos-santander.svg?e8ru82#iconos-santander') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconos-santander' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e900";
}
.icon-close:before {
	content: "\e901";
}
.icon-check--light:before {
	content: "\e902";
}
.icon-document--pdf:before {
	content: "\e903";
}
.icon-accessibility:before {
	content: "\e904";
}
.icon-stockholder:before {
	content: "\e905";
}
.icon-certificate:before {
	content: "\e906";
}
.icon-hand--shake:before {
	content: "\e907";
}
.icon-savings:before {
	content: "\e908";
}
.icon-change:before {
	content: "\e909";
}
.icon-alarm:before {
	content: "\e90a";
}
.icon-analysis:before {
	content: "\e90b";
}
.icon-app:before {
	content: "\e90c";
}
.icon-logo--atm:before {
	content: "\e90d";
}
.icon-sound:before {
	content: "\e90e";
}
.icon-car:before {
	content: "\e90f";
}
.icon-progress:before {
	content: "\e910";
}
.icon-scholarship:before {
	content: "\e911";
}
.icon-profit:before {
	content: "\e912";
}
.icon-bluetooth:before {
	content: "\e913";
}
.icon-calculator:before {
	content: "\e914";
}
.icon-calendar:before {
	content: "\e915";
}
.icon-hospital:before {
	content: "\e917";
}
.icon-check--bold:before {
	content: "\e918";
}
.icon-lock--computer:before {
	content: "\e919";
}
.icon-customers--mobile:before {
	content: "\e91a";
}
.icon-share:before {
	content: "\e91c";
}
.icon-purchase--online:before {
	content: "\e91d";
}
.icon-purchase:before {
	content: "\e91e";
}
.icon-credit:before {
	content: "\e91f";
}
.icon-courses:before {
	content: "\e920";
}

.icon-data:before {
	content: "\e921";
}
.icon-money:before {
	content: "\e922";
}
.icon-hand--unlike:before {
	content: "\e923";
}
.icon-document:before {
	content: "\e924";
}
.icon-edit:before {
	content: "\e925";
}
.icon-hand--pointer:before {
	content: "\e926";
}
.icon-email:before {
	content: "\e927";
}
.icon-employees--santander:before {
	content: "\e928";
}
.icon-employees:before {
	content: "\e929";
}
.icon-bussines:before {
	content: "\e92a";
}
.icon-energy:before {
	content: "\e92b";
}
.icon-tickets:before {
	content: "\e92c";
}
.icon-favorites:before {
	content: "\e92d";
}
.icon-document--print:before {
	content: "\e92e";
}
.icon-financing:before {
	content: "\e92f";
}
.icon-flag:before {
	content: "\e930";
}
.icon-document--form:before {
	content: "\e931";
}
.form-franchise:before {
	content: "\e932";
}
.icon-futbol:before {
	content: "\e933";
}
.icon-gov:before {
	content: "\e934";
}
.icon-golf:before {
	content: "\e935";
}
.icon-chart--circle:before {
	content: "\e936";
}
.icon-chart--arrow:before {
	content: "\e937";
}
.icon-home--roof:before {
	content: "\e938";
}
.icon-schedule:before {
	content: "\e939";
}
.icon-ideas:before {
	content: "\e93a";
}
.icon-information:before {
	content: "\e93b";
}
.icon-integration:before {
	content: "\e93c";
}
.icon-interest:before {
	content: "\e93d";
}
.icon-investment:before {
	content: "\e93e";
}
.icon-redcompra:before {
	content: "\e93f";
}
.icon-key:before {
	content: "\e940";
}
.icon-locator:before {
	content: "\e941";
}
.icon-search:before {
	content: "\e942";
}
.icon-servicing:before {
	content: "\e943";
}
.icon-mute:before {
	content: "\e944";
}
.icon-leaf:before {
	content: "\e945";
}
.icon-news:before {
	content: "\e946";
}
.icon-office:before {
	content: "\e947";
}
.icon-switched:before {
	content: "\e948";
}
.icon-ong:before {
	content: "\e949";
}
.icon-orientation:before {
	content: "\e94a";
}
.icon-parking:before {
	content: "\e94b";
}
.icon-oil:before {
	content: "\e94c";
}
.icon-retired:before {
	content: "\e94d";
}
.icon-questions:before {
	content: "\e94e";
}
.icon-credit:before {
	content: "\e94f";
}
.icon-promotions:before {
	content: "\e950";
}
.icon-gif:before {
	content: "\e951";
}
.icon-networks--social:before {
	content: "\e952";
}
.icon-mail--send:before {
	content: "\e953";
}
.icon-truck:before {
	content: "\e954";
}
.icon-cash:before {
	content: "\e955";
}
.icon-art:before {
	content: "\e956";
}
.icon-meeting:before {
	content: "\e957";
}
.icon-insurance--car:before {
	content: "\e958";
}
.icon-insurance--life:before {
	content: "\e959";
}
.icon-insurance--home:before {
	content: "\e95a";
}
.icon-insurance:before {
	content: "\e95b";
}
.icon-society:before {
	content: "\e95c";
}
.icon-upload:before {
	content: "\e95d";
}
.icon-branch:before {
	content: "\e95e";
}
.icon-tablet:before {
	content: "\e95f";
}
.icon-phone:before {
	content: "\e960";
}
.icon-clock:before {
	content: "\e961";
}
.icon-chronometer:before {
	content: "\e962";
}
.icon-food:before {
	content: "\e963";
}
.icon-money--exchange:before {
	content: "\e964";
}
.icon-money--transactions:before {
	content: "\e965";
}
.icon-tv:before {
	content: "\e966";
}
.icon-employees--university:before {
	content: "\e967";
}
.icon-users--digital:before {
	content: "\e968";
}
.icon-bag:before {
	content: "\e969";
}
.icon-video:before {
	content: "\e96a";
}
.icon-clients--link:before {
	content: "\e96b";
}
.icon-visit:before {
	content: "\e96c";
}
.icon-web:before {
	content: "\e96d";
}
.icon-wifi:before {
	content: "\e96e";
}
.icon-workshops:before {
	content: "\e96f";
}
.icon-hand--like:before {
	content: "\e971";
}
.icon-arrow--right:before {
	content: "\e972";
}
.icon-arrow--left:before {
	content: "\e973";
}
.icon-arrow--down:before {
	content: "\e974";
}
.icon-arrow--above:before {
	content: "\e975";
}
.icon-landline:before {
	content: "\e976";
}
.icon-card:before {
	content: "\e977";
}
.icon-alert:before {
	content: "\e978";
}
.icon-account:before {
	content: "\e979";
}
.icon-download:before {
	content: "\e97a";
}
.icon-smile:before {
	content: "\e97b";
}
.icon-document:before {
	content: "\e97c";
}
.icon-chart--bars:before {
	content: "\e97d";
}
.icon-go:before {
	content: "\e97e";
}
.icon-persons:before {
	content: "\e97f";
}
.icon-locator--world:before {
	content: "\e980";
}
.icon-circle:before {
	content: "\e981";
}
.icon-globe:before {
	content: "\e982";
}
.icon-lock:before {
	content: "\e983";
}
.icon-university:before {
	content: "\e984";
}
.icon-money--happy:before {
	content: "\e985";
}
.icon-prize--medal:before {
	content: "\e986";
}
.icon-arrow--top:before {
	content: "\e987";
}
.icon-logo--acrobat:before {
	content: "\e988";
}
.icon-locator--santander:before {
	content: "\e989";
}
.icon-share--person:before {
	content: "\e98a";
}
.icon-relax:before {
	content: "\e98b";
}
.icon-adventure:before {
	content: "\e98c";
}
.icon-food--gastronomy:before {
	content: "\e98d";
}
.icon-isologo--santander:before {
	content: "\e98e";
}
.icon-discounts:before {
	content: "\e98f";
}
.icon-sun:before {
	content: "\e990";
}
.icon-prize--trophy:before {
	content: "\e991";
}
.icon-home:before {
	content: "\e992";
}
.icon-arrow--download:before {
	content: "\e993";
}
.icon-mail:before {
	content: "\e994";
}
.icon-airplane:before {
	content: "\e995";
}
.icon-purchase:before {
	content: "\e996";
}
.icon-pay--online:before {
	content: "\e997";
}
.icon-logo--santander:before {
	content: "\e998";
}
.icon-facebook:before {
	content: "\e999";
}
.icon-facebook--circle:before {
	content: "\e99a";
}
.icon-instagram:before {
	content: "\e99b";
}
.icon-instagram--circle:before {
	content: "\e99c";
}
.icon-twitter:before {
	content: "\e99d";
}
.icon-twitter--circle:before {
	content: "\e99e";
}
.icon-youtube:before {
	content: "\e99f";
}
.icon-youtube--circle:before {
	content: "\e9a0";
}
.icon-money--spin:before {
	content: "\e9a1";
}
.icon-pay--automatic:before {
	content: "\e9a2";
}
.icon-pay--spinsuper:before {
	content: "\e9a3";
}
.icon-transfers:before {
	content: "\e9a4";
}
.icon-kms:before {
	content: "\e9a5";
}
.icon-menu:before {
	content: "\e9a6";
}
.icon-money--monitor:before {
	content: "\e9a7";
}
