/*iconos*/
@font-face {
	font-family:'iconos-santander';
	src:  url('../fonts/iconos-santander.eot?e8ru82');
	src:  url('../fonts/iconos-santander.eot?e8ru82#iefix') format('embedded-opentype'),
		url('../fonts/iconos-santander.ttf?e8ru82') format('truetype'),
		url('../fonts/iconos-santander.woff?e8ru82') format('woff'),
		url('../fonts/iconos-santander.svg?e8ru82#iconos-santander') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconos-santander' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e900";
}
.icon-cerrar2:before {
	content: "\e901";
}
.icon-check2:before {
	content: "\e902";
}
.icon-pdf:before {
	content: "\e903";
}
.icon-accesibilidad:before {
	content: "\e904";
}
.icon-accionistas:before {
	content: "\e905";
}
.icon-acreditacion:before {
	content: "\e906";
}
.icon-acuerdos:before {
	content: "\e907";
}
.icon-ahorro:before {
	content: "\e908";
}
.icon-ajustes:before {
	content: "\e909";
}
.icon-alarma:before {
	content: "\e90a";
}
.icon-analisis-datos:before {
	content: "\e90b";
}
.icon-app:before {
	content: "\e90c";
}
.icon-ATM:before {
	content: "\e90d";
}
.icon-audio:before {
	content: "\e90e";
}
.icon-auto:before {
	content: "\e90f";
}
.icon-avanzar:before {
	content: "\e910";
}
.icon-becas:before {
	content: "\e911";
}
.icon-beneficio:before {
	content: "\e912";
}
.icon-bluetooth:before {
	content: "\e913";
}
.icon-calculadora:before {
	content: "\e914";
}
.icon-calendario:before {
	content: "\e915";
}
.icon-centro-formacion:before {
	content: "\e916";
}
.icon-centro-medico:before {
	content: "\e917";
}
.icon-check:before {
	content: "\e918";
}
.icon-ciberseguridad:before {
	content: "\e919";
}
.icon-clientes-digitales:before {
	content: "\e91a";
}
.icon-clientes:before {
	content: "\e91b";
}
.icon-compartir:before {
	content: "\e91c";
}
.icon-compras-online:before {
	content: "\e91d";
}
.icon-compras:before {
	content: "\e91e";
}
.icon-credito:before {
	content: "\e91f";
}
.icon-cursos:before {
	content: "\e920";
}
.icon-datos:before {
	content: "\e921";
}
.icon-dinero:before {
	content: "\e922";
}
.icon-desventaja:before {
	content: "\e923";
}
.icon-documentos:before {
	content: "\e924";
}
.icon-editar:before {
	content: "\e925";
}
.icon-elegir:before {
	content: "\e926";
}
.icon-email:before {
	content: "\e927";
}
.icon-empleados-santander:before {
	content: "\e928";
}
.icon-empleados:before {
	content: "\e929";
}
.icon-empresas:before {
	content: "\e92a";
}
.icon-energias-renovables:before {
	content: "\e92b";
}
.icon-entradas:before {
	content: "\e92c";
}
.icon-favoritos:before {
	content: "\e92d";
}
.icon-fax:before {
	content: "\e92e";
}
.icon-financiacion:before {
	content: "\e92f";
}
.icon-formula-1:before {
	content: "\e930";
}
.icon-formularios:before {
	content: "\e931";
}
.icon-franquicia:before {
	content: "\e932";
}
.icon-futbol:before {
	content: "\e933";
}
.icon-gobierno-corporativo:before {
	content: "\e934";
}
.icon-golf:before {
	content: "\e935";
}
.icon-grafica-tarta:before {
	content: "\e936";
}
.icon-grafica:before {
	content: "\e937";
}
.icon-hipoteca:before {
	content: "\e938";
}
.icon-horario:before {
	content: "\e939";
}
.icon-ideas:before {
	content: "\e93a";
}
.icon-informacion:before {
	content: "\e93b";
}
.icon-integracion:before {
	content: "\e93c";
}
.icon-interes:before {
	content: "\e93d";
}
.icon-inversion:before {
	content: "\e93e";
}
.icon-lector-tarjeta:before {
	content: "\e93f";
}
.icon-llave:before {
	content: "\e940";
}
.icon-localizador:before {
	content: "\e941";
}
.icon-lupa:before {
	content: "\e942";
}
.icon-mantencion:before {
	content: "\e943";
}
.icon-mute:before {
	content: "\e944";
}
.icon-naturaleza:before {
	content: "\e945";
}
.icon-noticias:before {
	content: "\e946";
}
.icon-oficina:before {
	content: "\e947";
}
.icon-on-off:before {
	content: "\e948";
}
.icon-ong:before {
	content: "\e949";
}
.icon-orientacion:before {
	content: "\e94a";
}
.icon-parking:before {
	content: "\e94b";
}
.icon-petroleo:before {
	content: "\e94c";
}
.icon-plan-pensiones:before {
	content: "\e94d";
}
.icon-preguntas-frecuentes:before {
	content: "\e94e";
}
.icon-prestamo-personal:before {
	content: "\e94f";
}
.icon-promociones:before {
	content: "\e950";
}
.icon-regalo:before {
	content: "\e951";
}
.icon-rrss:before {
	content: "\e952";
}
.icon-rsvp:before {
	content: "\e953";
}
.icon-rutas:before {
	content: "\e954";
}
.icon-sacar-dinero:before {
	content: "\e955";
}
.icon-sala-de-arte:before {
	content: "\e956";
}
.icon-sala-reuniones:before {
	content: "\e957";
}
.icon-seguro-auto:before {
	content: "\e958";
}
.icon-seguros-vida:before {
	content: "\e959";
}
.icon-seguros-vivienda:before {
	content: "\e95a";
}
.icon-seguros:before {
	content: "\e95b";
}
.icon-sociedad:before {
	content: "\e95c";
}
.icon-subidas:before {
	content: "\e95d";
}
.icon-sucursales:before {
	content: "\e95e";
}
.icon-tablet:before {
	content: "\e95f";
}
.icon-telefono:before {
	content: "\e960";
}
.icon-tiempo-2:before {
	content: "\e961";
}
.icon-tiempo:before {
	content: "\e962";
}
.icon-tiendas:before {
	content: "\e963";
}
.icon-tipo-cambio:before {
	content: "\e964";
}
.icon-transacciones:before {
	content: "\e965";
}
.icon-tv:before {
	content: "\e966";
}
.icon-universidad-empleados:before {
	content: "\e967";
}
.icon-usuarios-digitales:before {
	content: "\e968";
}
.icon-viajes:before {
	content: "\e969";
}
.icon-video:before {
	content: "\e96a";
}
.icon-vinculo-clientes:before {
	content: "\e96b";
}
.icon-visit:before {
	content: "\e96c";
}
.icon-web:before {
	content: "\e96d";
}
.icon-wifi:before {
	content: "\e96e";
}
.icon-workshops:before {
	content: "\e96f";
}
.icon-cerrar:before {
	content: "\e970";
}
.icon-like:before {
	content: "\e971";
}
.icon-flecha-derecha:before {
	content: "\e972";
}
.icon-flecha-izquierda:before {
	content: "\e973";
}
.icon-flecha-abajo:before {
	content: "\e974";
}
.icon-flecha-arriba:before {
	content: "\e975";
}
.icon-superlinea:before {
	content: "\e976";
}
.icon-tarjeta:before {
	content: "\e977";
}
.icon-alerta:before {
	content: "\e978";
}
.icon-cuenta:before {
	content: "\e979";
}
.icon-descarga:before {
	content: "\e97a";
}
.icon-smile:before {
	content: "\e97b";
}
.icon-documento:before {
	content: "\e97c";
}
.icon-grafico-barras:before {
	content: "\e97d";
}
.icon-ir:before {
	content: "\e97e";
}
.icon-personas:before {
	content: "\e97f";
}
.icon-mundo_marcador:before {
	content: "\e980";
}
.icon-circulo:before {
	content: "\e981";
}
.icon-internacionalidad:before {
	content: "\e982";
}
.icon-candado:before {
	content: "\e983";
}
.icon-universidades:before {
	content: "\e984";
}
.icon-sanodelucas:before {
	content: "\e985";
}
.icon-galardon:before {
	content: "\e986";
}
.icon-arrow-top:before {
	content: "\e987";
}
.icon-acrobat:before {
	content: "\e988";
}
.icon-marker_map:before {
	content: "\e989";
}
.icon-compartir2:before {
	content: "\e98a";
}
.icon-spa-relax:before {
	content: "\e98b";
}
.icon-aventuras:before {
	content: "\e98c";
}
.icon-gastronomia:before {
	content: "\e98d";
}
.icon-santander:before {
	content: "\e98e";
}
.icon-cupones:before {
	content: "\e98f";
}
.icon-sol:before {
	content: "\e990";
}
.icon-trofeo:before {
	content: "\e991";
}
.icon-casa:before {
	content: "\e992";
}
.icon-descarga-arrow:before {
	content: "\e993";
}
.icon-sobre:before {
	content: "\e994";
}
.icon-avion:before {
	content: "\e995";
}
.icon-productos:before {
	content: "\e996";
}
.icon-pagos-en-linea:before {
	content: "\e997";
}
.icon-santander-logo:before {
	content: "\e998";
}
.icon-facebook:before {
	content: "\e999";
}
.icon-facebook2:before {
	content: "\e99a";
}
.icon-instagram:before {
	content: "\e99b";
}
.icon-instagram2:before {
	content: "\e99c";
}
.icon-twitter:before {
	content: "\e99d";
}
.icon-twitter2:before {
	content: "\e99e";
}
.icon-youtube:before {
	content: "\e99f";
}
.icon-youtube2:before {
	content: "\e9a0";
}
.icon-giro:before {
	content: "\e9a1";
}
.icon-pago-automatico:before {
	content: "\e9a2";
}
.icon-super-giro:before {
	content: "\e9a3";
}
.icon-transferencias:before {
	content: "\e9a4";
}
.icon-label-kms:before {
	content: "\e9a5";
}
.icon-menu-reducido:before {
	content: "\e9a6";
}
.icon-monitor-dinero:before {
	content: "\e9a7";
}
