//Square
.check{
	.check--input{
		position: absolute;
		opacity:0;
		&:checked{
			& + .check-label{
				&:before{
					content:"\e918";
				}
			}
		}
	}
	.check--label{
		position:relative;
		padding-left:30px;
		display:block;
		font-size:14px;
		color:#444444;
		&:before{
			font-family: 'iconos-santander' !important;
			content:'';
			line-height:20px;
			vertical-align:middle;
			color:#ABC111;
			font-size:16px;
			text-align:center;
			width:20px;
			height:20px;
			border-radius:3px;
			border:solid 1px #9e9e9e;
			box-shadow: 0px 3px 10px -2px #9e9e9e;
			display:block;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			margin:auto 0;
		}
	}
	&.error{
		.check--label:before{
			border-color:#ec0000;
		}
		.check--label{
			color:#ec0000;
		}
	}
}

//Round
.check--rounded{
	padding-top:20px;
	.check--rounded__container{
	  display: block;
	  position: relative;
	  padding-left: 30px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 14px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.check--rounded__container input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}

	.check--rounded__checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  border: 1px solid #444;
	}

	.check--rounded__checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	.check--rounded__container input:checked ~ .check--rounded__checkmark:after {
	  display: block;
	}

	.check--rounded__container .check--rounded__checkmark:after {
	 	top: 4px;
		left: 4px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $color_brand;
	}
}
