.landing{
    .landing-img{
        background-image: url('../img/img-bg.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        width: 80%;
        height: 80vh;
        margin:0 auto;
        @media(max-width: 812px){
            height: 20vh;
            padding:0;
        }
    } 
    .landing-box{
        color:$white;
        .landing-img__factoring{
            background-image: url('../img/box-black-opacity.png');
            background-repeat:no-repeat;
            background-size: cover;
            width:50%;
            height: 80vh;
            float:left;
                h1{
                    padding-top:20%;
                    padding-left:8%;
                    font-size:30px;
                    @media(max-width: 364px){
                    font-size: 25px;
                    }
                    strong{
                        font-weight: 600;
                        display: block;
                    }
                }  
                .lading-box__text{
                    padding-left:8%;
                    p{
                        font-size:24px;
                        font-weight:bold;
                        padding:2% 2%;
                        margin:0;
                    }
                    ul{
                        li{
                            font-size:18px;
                            padding:0 10% 0 0;
                            i{
                            color:$color_brand;
                            font-size: 18px;
                            }
                        }
                    }
                }
                .lading-box__contact{
                    padding-top:15%;
                    text-align:center;
                        small{   
                        background:rgba(138,72,68,0.3);
                        font-size: 12px;
                        text-align:center;
                        padding:4%;
                        }
                }    
        }
        .landing-img__logo{
            width:50%;
            float:right;
            padding-top: 45%;
            padding-left: 25%;
        }
        .landing-img__arrow{
            display:block;
        }  

    }       
}   





   