.landing{
    .landing-container{
        max-width: 761px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        background-image: url('../img/img-bg.jpg'); 
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;

        @media(max-width: 510px){
            padding: 0px;
        }
    }

    .landing-information{
        width: 60%;
        background-image: url('../img/box-black-opacity.png');  
        background-repeat: repeat;
        background-size: cover;
        padding: 70px 30px 100px 30px;
        position: relative; 
        //margin: 20px;

            h1{
                color:$white;
                font-size: 30px;
                font-weight: normal;
                line-height: 37px;
                margin:0px;
                padding:20px 0px;
                *margin-top: 30px;

                @media(max-width: 364px){
                    font-size: 25px;
                }

                strong{
                    font-weight: 600;
                    display: block;
                }
            }

            p{
                color:$white;
                font-size: 19px;
                line-height: 27px;
                font-weight: lighter;
                padding-right: 14px;
                *width: 90%;
                width: 90%\0;
                @media(max-width: 740px){
                    width: 100%;
                    font-size: 17px;
                }
                @media(max-width: 354px){
                    font-size: 13px;
                }
            }

        @media(max-width: 740px){
           background-image: url('../img/box-black-opacity-responsive.png'); 
           width: calc(100% - 60px);  
           padding: 30px 20px 180px 20px;
           margin: 10px;
        }
       
        @media(max-width: 375px){
            padding-top: 10px; 
            padding-bottom: 170px;
        }
        @media(max-width: 354px){
           
        }
    .landing-information__arrow{
        position: absolute;
        left: 82%;
        top: 25%;
        @media(max-width: 740px){
            display: none;
        }
    }
        p{
            font-size: 20px;
            padding-left: 20px;
            font-weight: 600;
            margin-bottom: 0px;
            padding-top: 15px;
            color: $white;
        }
        small{
            color:#fff;
            font-size: 12px;
            padding: 20px;
            background:rgba(138,72,68,0.3);
            width:100%;
            text-align:center;
            position:absolute;
            left: 0px;
            bottom:20px;
            box-sizing: border-box;

            @media(max-width: 740px){
                bottom:100px;
            }
        }
        ul{
            
            list-style: none;
            margin-top: 5px;
            padding-left: 0px;
            *padding-left: 0px;
            

            li{
                color: $white;
                font-size: 20px;
                position: relative;
                font-weight: 300;
                line-height: 130%;
                padding-bottom: 9px;
                padding-left: 20px;
                padding-right: 30px;
                background:url(../img/mini-flag.png) 3px 5px no-repeat;
            }
        }
    }
    .landing-icons{ 
        position: absolute;
        right: 20px;
        bottom: 0px;

         
        @media(max-width: 740px){
           bottom:20px;
           right:50%;
           margin-right: -104px;
        } 
        p{
            margin-bottom: 5px;
            font-size: 13px;
            @media(max-width: 740px ){
                width: 100%;
            }
        }
        img{
            display: block;
            margin-bottom: 20px;
            @media(max-width: 740px){
                display: inline;
            }
        }
    }

    .logo-empresa{
        float: right;
        margin-right: 60px;
        @media(max-width: 740px){
            float: none;
            width: 100%;
        }
    }

    &#html-2{
      background-image: url('../img/img-bg-2.jpg');     
    }
}