.modal--error{
  float:right;
}
.modal--alert{
  margin-left: 12%;
}

#modal-info-1{
  z-index:9999;
  .body-modal-new{
    margin-top: 10px;
    background: #fff;
  }
  .content-success{
    position: relative;
    margin-top: 50px;
    .content-success__box{
      padding: 10px 30px 20px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      position:relative;
      h2{
        color: #444;
        font-size: 24px;
        margin-bottom: 0;
        margin-top:50px;
        font-weight: 300;
        font-family: 'open sans' !important;
      }
      p{
        font-family: 'open sans' !important;
        font-size: 12px;
      }
      //icono a utilizar
       .icon--container__success{
        display:block;
        height: 70px;
        width:70px;
        border-radius: 50%;
        background-color: #ABC111;
        position:absolute;
        top:-30px;
        left:45%;
        @media (max-width:550px){
          left:50%;
        }
          .icon-check--light{
            color: $white;
            font-size: 36px;
            position:absolute;
            top:15px;
            left:17px;     
          }
      }
      .border{
        width: calc(100% + 22px);
        margin: 9px -5px -10px -11px;
      }
      .content-success__small{
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: #444444;
        text-align: center;
      }
    }
  }
}

#modal-info-2{
  z-index:9999;
  .body-modal-new{
    margin-top: 10px;
    background: #fff;
  }
  .content-alert{
    position: relative;
    margin-top: 50px;
    .content-alert__box{
      padding: 10px 30px 20px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      position:relative;
      h2{
        color: #444;
        margin-top: 20px;
        font-size: 24px;
        margin-bottom: 0;
        margin-top:40px;
        font-weight: 300;
        font-family: 'open sans' !important;
      }
      p{
        font-family: 'open sans' !important;
        font-size: 12px;
      }
      //icono a utilizar
      .icon--container__alert{
        display:block;
        height: 70px;
        width:70px;
        border-radius: 50%;
        background-color: #1BB3BC;
        position:absolute;
        top:-30px;
        left:45%;
        @media (max-width:550px){
          left:50%;
        }
          .icon-information{
            color: $white;
            font-size: 36px;
            position:absolute;
            top:12px;
            left:13px;     
          }
      }

      .border{
        width: calc(100% + 22px);
        margin: 9px -5px -10px -11px;
      }
      .content-alert__small{
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: #444444;
        text-align: center;
      }
    }
  }
}

#modal-info-3{
  z-index:9999;
  .body-modal-new{
    margin-top: 10px;
    background: #fff;
  }
  .content-wrong{
    position: relative;
    margin-top: 50px;
    .content-wrong__box{
      padding: 10px 30px 20px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      position:relative;
      h2{
        color: #444;
        margin-top: 20px;
        font-size: 24px;
        margin-bottom: 0;
        margin-top:40px;
        font-weight: 300;
        font-family: 'open sans' !important;
      }
      p{
        font-family: 'open sans' !important;
        font-size: 12px;
      }
      //icono a utilizar
      .icon--container__error{
        display:block;
        height: 70px;
        width:70px;
        border-radius: 50%;
        background-color: #E59D27;
        position:absolute;
        top:-30px;
        left:45%;
        @media (max-width:550px){
          left:50%;
        }
          .icon-error{
          	font-family: 'open sans' !important;
          	font-weight: 700;
            color: $white;
            font-size: 40px;
            position:absolute;
            top:13px;
            left:29px;     
          }
      }

      .border{
        width: calc(100% + 22px);
        margin: 9px -5px -10px -11px;
      }
      .content-wrong__small{
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: #444444;
        text-align: center;
      }
    }
  }
}

.modal_content{
  width: 100%;
  height: 120%;
  top: -130px;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  z-index: 8889;
  display: block; // cambiar
  box-sizing: border-box;
  padding: 10px;
}
.modal_content_simple{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  z-index: 8889;
  position: relative;
  top: 25%;
  margin-bottom: 30px;
}
.modal_simple{
    display: none;
    text-align: center;
}
.modal_body{
  padding: 20px 3% 20px 3%;
  text-align: left;
  width: 85%;
  margin: 0 auto 30px;
  @media(max-width: 770px){
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }

  img{
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: -10;
    
  }
  .big-img{
    @media(max-width:770px){
      display: none;  
    }
  }



  .modal_body__title-icon{
    position: relative;
    margin-bottom: 20px;
    .icon-ejecutivo{
      position: absolute;
      z-index: 10;
      top: -3px;
      @media(max-width: 378px){
        top: 6px;
      }
    }
    p{
      border-left: 1px solid;
      padding-left: 10px;
      margin-top: 0px;
      margin-left: 30px;
      font-size: 12px;
    }
  }

  p{
      margin: 0px;
      font-size: 12px;
    }
    h3{
      margin: 0 0 7px 0;
      strong{
        font-size: 14px;
      }
    }
    .action{
      text-align: center;
      .botonPrimario{
        float: none;
        margin-top: 20px !important;
        margin-bottom: 20px;
        @media(max-width: 770px){
          border-radius: 30px;
          padding: 12px 25px;
          display: inline-block;
          text-align: center;
          font-size: 15px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          border: none;
          width: 70%;
        }
      }
    }

}

.modal_close {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 60px;
  top: 30px;
  @media(max-width: 770px){
    right: 15px;
    top: 30px;
  }
} 

.bgModal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 8888;
}

.bgModalHide {
  display: none; // cambiar
}


.modal_content{
  width: 100%;
  height: 120%;
  top: -130px;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  z-index: 8889;
  display: block; // cambiar
  box-sizing: border-box;
  padding: 10px;
}
.modal_content_simple{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  z-index: 8889;
  position: relative;
  top: 25%;
  margin-bottom: 30px;
}
.modal_simple{
    display: none;
    text-align: center;
}
.modal_body{
  padding: 20px 3% 20px 3%;
  text-align: left;
  width: 85%;
  margin: 0 auto 30px;
  @media(max-width: 770px){
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }

  img{
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: -10;
    
  }
  .big-img{
    @media(max-width:770px){
      display: none;  
    }
  }



  .modal_body__title-icon{
    position: relative;
    margin-bottom: 20px;
    .icon-ejecutivo{
      position: absolute;
      z-index: 10;
      top: -3px;
      @media(max-width: 378px){
        top: 6px;
      }
    }
    p{
      border-left: 1px solid;
      padding-left: 10px;
      margin-top: 0px;
      margin-left: 30px;
      font-size: 12px;
    }
  }

  p{
      margin: 0px;
      font-size: 12px;
    }
    h3{
      margin: 0 0 7px 0;
      strong{
        font-size: 14px;
      }
    }
    .action{
      text-align: center;
      .botonPrimario{
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

}

.modal_close {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 60px;
  top: 30px;
  @media(max-width: 770px){
    right: 15px;
    top: 30px;
  }
} 

      svg.info{
        position: absolute;
        z-index: 100;
        top: -40px;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
      }