.headline{
	border-bottom:solid 1px #DDDDDD;
	padding:12px 0;
	display:block;
	margin-bottom:10px;
	font-size:14px;
	font-weight:500;
	h3{
		font-size:14px;
		font-weight:500;
	}
	strong{
		font-weight:700;
	}
}


.steps{
	display:none;
	.slick-active &{
		display:block;
	}
	.step{
		display:none;
		&.active{
			display: block;
		}
	}
}