*{
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color:$gray_dark;
}

.tooltip {
    display: inline-block;
    position:relative;
      .icon-information{
          color:$white;
          background-color: $cyan;
          border-radius: 50%;
          padding: 4px;
          font-size: 12px;
          text-align: center;
      }
        .tooltip--element {
          margin: 0 auto;
          opacity: 0.9;
          padding: 20px;
          font-size: 12px;
          width: 250px;
          transition: All .3s ease;
          -webkit-transition: All .3s ease;
          -moz-transition: All .3s ease;
          -o-transition: All .3s ease;
          -moz-box-shadow: 0px 0px 5px #b8b8b8;
          -webkit-box-shadow: 0px 0px 5px #b8b8b8;
          box-shadow: 0px 0px 5px #b8b8b8;   
          transition: All .3s ease;
          -webkit-transition: All .3s ease;
          -moz-transition: All .3s ease;
          -o-transition: All .3s ease;
          visibility: hidden;
          border-radius: 3px;
          line-height: 1.45em;
          @media(max-width: 767px){
              padding-left: 45px;
              width: 150px;
              &.tooltip--hide{display: none;}
          }
        }
        .tooltip--element__black{
          position: absolute;
          z-index: 1;
          top: -111%;
          left: 35%;
          margin-left: -100px;
          text-align: left;
          background-color:$black;
          color: $white;
        }

        .tooltip--element__white{
          position: absolute;
          z-index: 1;
          top: 35%;
          left: 0%;
          margin-left: -100px;
          text-align:center;
          background-color:$white;
          color:$black;
            .icon-share{
              font-size: 18px;
              background-color:#DDF4F5;
              color: #1BB3BC;
              border-radius: 50%;
              padding: 10px;
              margin: 0 auto;
            }
            .title{
              font-size: 20px;
              padding: 5px 0 5px 0;
              color: $gray_dark;

            }
            p{
              font-size:14px;
            }
        }
        &:hover .tooltip--element {
          visibility: visible;
          opacity: 80;
          border-radius: 3px;
        }
      }

      .tooltip--element {
        &.tooltipRojo:before {
          border: 1px solid $color_brand;
          border-right: 0;
          border-bottom: 0;
        }
      }

      .tooltipRojo {
        border: 1px solid $color_brand;
      }

      .tooltip--element.tooltipVerde:before {
        border: 1px solid #afbf31;
        border-right: 0;
        border-bottom: 0;
      }

      .tooltipVerde {
        border: 1px solid #afbf31;
      }

      .tooltip--element.tooltipNaranja:before {
        border: 1px solid #d29b36;
        border-right: 0;
        border-bottom: 0;
      }

      .tooltipNaranja {
        border: 1px solid #d29b36;
      }    
  span.tooltip--agree {
    display: none;
    @media(max-width:767px){
      color: black;
      display: block;
      text-align: center;
      margin: 10px auto 0;
      font-weight: 800;

    }
  }
