// Colors
$white:#FFF;
$black:#000;
$color_brand:red;
$color_brand2:blue;
$color_text:$black;
$color_bg:#ffffff;

// fonts
$base_size:14px;
$font_base:helvetica, arial, sans-serif;
$font_highlight:helvetica, arial, sans-serif;

// Common
$transition-duration: .3s !default;

// Margins & Paddings
$numbers: 0, 10, 20;
$sides: t top,r right,b bottom,l left;

// grid
$gutter:15px;
$grid-cols:12;
$grid-max-width:1200px;
$breakpoint_mobile:768px;
